<div class="usuario-container" [@pageAnimation]>

  <!-- Tempo Médio de Processamento -->
  <p-card>
    <ng-template pTemplate="header">
      <div class="pt-3 pb-2 px-4">
        <span class="text-lg font-semibold">Tempo Médio de Processamento (ms)</span>
      </div>
    </ng-template>


    <p-metergroup [value]="tempoMedioDocs" labelPosition="start">
      <ng-template #label>
        <div class="flex flex-wrap gap-4">
          <ng-container *ngFor="let item of tempoMedioDocs">
            <p-card class="flex-1" styleClass="border border-surface shadow-none">
              <div class="flex justify-between gap-8">
                <div class="flex flex-col gap-1">
                  <span class="text-surface-500 dark:text-surface-400 text-sm">{{ item.label }}</span>
                  <span class="font-bold text-lg">{{ item.value }}ms</span>
                </div>
                <span class="w-8 h-8 rounded-full inline-flex justify-center items-center text-center"
                  [style]="{ 'background-color': item.color1, color: '#ffffff' }">
                  <i [class]="item.icon"></i>
                </span>
              </div>
            </p-card>
          </ng-container>
        </div>
      </ng-template>

      <ng-template #meter let-value let-class="class" let-width="size">
        <span [class]="class"
          [style]="{ background: 'linear-gradient(to right, ' + value.color1 + ', ' + value.color2 + ')', width: width }"></span>
      </ng-template>

      <ng-template #start let-totalPercent="totalPercent">
        <div class="flex justify-between mt-4 mb-2">
          <span>Documentos por Segundo</span>
          <span class="absolute right-0 text-right">{{ totalPercent | number: '1.0-0' }} doc/s</span>
        </div>
      </ng-template>
    </p-metergroup>
  </p-card>

  <br>
  <!-- Acurácia por Documento -->
  <p-card>
    <ng-template pTemplate="header">
      <div class="pt-3 pb-2 px-4">
        <span class="text-lg font-semibold">Acurácia (%) da Análise dos Documentos</span>
      </div>
    </ng-template>


    <p-metergroup [value]="acuraciaDocs" labelPosition="start">
      <ng-template #label>
        <div class="flex flex-wrap gap-4">
          <ng-container *ngFor="let item of acuraciaDocs">
            <p-card class="flex-1" styleClass="border border-surface shadow-none">
              <div class="flex justify-between gap-8">
                <div class="flex flex-col gap-1">
                  <span class="text-surface-500 dark:text-surface-400 text-sm">{{ item.label }}</span>
                  <span class="font-bold text-lg">{{ item.value }}%</span>
                </div>
                <span class="w-8 h-8 rounded-full inline-flex justify-center items-center text-center"
                  [style]="{ 'background-color': item.color1, color: '#ffffff' }">
                  <i [class]="item.icon"></i>
                </span>
              </div>
            </p-card>
          </ng-container>
        </div>
      </ng-template>

      <ng-template #meter let-value let-class="class" let-width="size">
        <span [class]="class"
          [style]="{ background: 'linear-gradient(to right, ' + value.color1 + ', ' + value.color2 + ')', width: width }"></span>
      </ng-template>

      <ng-template #start let-totalPercent="totalPercent">
        <div class="flex justify-between mt-4 mb-2">
          <span>Documentos Válidos</span>
          <span class="absolute right-0 text-right">{{ totalPercent }}%</span>
        </div>
      </ng-template>

      <ng-template #end>
        <div class="flex justify-end mt-4">
          <p-button label="Ver Detalhes" size="small" />
        </div>
      </ng-template>
    </p-metergroup>
  </p-card>

  <br>
  <!-- Gráfico -->
  <p-card>
    <ng-template pTemplate="header">
      <div class="pt-3 pb-2 px-4">
        <span class="text-lg font-semibold">Documentos Processados por Dia</span>
      </div>
    </ng-template>


    <div class="card">
      <p-chart type="bar" [data]="data" [options]="options" class="h-[30rem]" />
    </div>
  </p-card>

  <!-- Dialogs e Toasts -->
  <p-dialog [header]="('usuario.info' | translate)" [(visible)]="displayDialogInfo" [modal]="true"
    [style]="{width: '450px'}" [draggable]="false" [resizable]="false">
    <div class="dialog-content">
      <div class="field">
        <p-tag severity="secondary"
          [value]="'Ao adicionar o candidato no sistema, automaticamente será enviado o login para o mesmo com o acesso a está plataforma para envio de documentos.'">
        </p-tag>
      </div>
    </div>
  </p-dialog>

  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
</div>