<section class="observability-section" [@pageAnimation]>
  <div class="kpi-header-small">
    <h3>KPIs</h3>
  </div>
  <div class="kpi-grid kpi-grid-3x2">
    <div class="kpi-row">
      <ng-container *ngFor="let kpi of kpisContratacao | slice:0:3">
        <div class="kpi-card">
          <div class="kpi-content">
            <div class="kpi-icon-wrapper" [ngStyle]="{'background-color': kpi.color1 + '15'}">
              <i [class]="kpi.icon" class="kpi-icon" [ngStyle]="{'color': kpi.color1}"></i>
            </div>
            <div class="kpi-details">
              <span class="kpi-label">{{ kpi.label | translate }}</span>
              <div class="kpi-value-container">
                <span class="kpi-value">{{ kpi.value | number:'1.1-1' }}</span>
                <span class="kpi-unit">{{ kpi.unit }}</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="kpi-row">
      <ng-container *ngFor="let kpi of kpisContratacao | slice:3:6">
        <div class="kpi-card">
          <div class="kpi-content">
            <div class="kpi-icon-wrapper" [ngStyle]="{'background-color': kpi.color1 + '15'}">
              <i [class]="kpi.icon" class="kpi-icon" [ngStyle]="{'color': kpi.color1}"></i>
            </div>
            <div class="kpi-details">
              <span class="kpi-label">{{ kpi.label | translate }}</span>
              <div class="kpi-value-container">
                <span class="kpi-value">{{ kpi.value | number:'1.1-1' }}</span>
                <span class="kpi-unit">{{ kpi.unit }}</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>