<div class="usuario-container" [@pageAnimation]>

  <!-- Tempo Médio de Processamento -->
  <p-card>
    <ng-template pTemplate="header">
      <div class="pt-3 pb-2 px-4">
        <span class="text-lg font-semibold">{{ 'observability.avgProcessingTime' | translate }}</span>
      </div>
    </ng-template>
    <div class="flex flex-wrap gap-6 justify-center py-4">
      <p-card class="flex-shrink-0 w-56 h-40 rounded-2xl shadow-md" styleClass="border border-surface">
        <div class="flex items-center gap-4 h-full px-4">
          <span class="w-12 h-12 flex justify-center items-center">
            <i class="pi pi-id-card" style="color: #6366f1; font-size: 1rem;"></i>
          </span>
          <div class="flex flex-col justify-center h-full">
            <span class="font-extrabold text-base text-surface-500 dark:text-surface-400 whitespace-nowrap overflow-hidden text-ellipsis">{{ 'upload.rg' | translate }}</span>
            <span class="font-extrabold text-xl text-gray-900 whitespace-nowrap overflow-hidden text-ellipsis">120ms</span>
          </div>
        </div>
      </p-card>
      <p-card class="flex-shrink-0 w-56 h-40 rounded-2xl shadow-md" styleClass="border border-surface">
        <div class="flex items-center gap-4 h-full px-4">
          <span class="w-12 h-12 flex justify-center items-center">
            <i class="pi pi-id-card" style="color: #22d3ee; font-size: 1rem;"></i>
          </span>
          <div class="flex flex-col justify-center h-full">
            <span class="font-extrabold text-base text-surface-500 dark:text-surface-400 whitespace-nowrap overflow-hidden text-ellipsis">{{ 'upload.cpf' | translate }}</span>
            <span class="font-extrabold text-xl text-gray-900 whitespace-nowrap overflow-hidden text-ellipsis">110ms</span>
          </div>
        </div>
      </p-card>
      <p-card class="flex-shrink-0 w-56 h-40 rounded-2xl shadow-md" styleClass="border border-surface">
        <div class="flex items-center gap-4 h-full px-4">
          <span class="w-12 h-12 flex justify-center items-center">
            <i class="pi pi-id-card" style="color: #f59e42; font-size: 1rem;"></i>
          </span>
          <div class="flex flex-col justify-center h-full">
            <span class="font-extrabold text-base text-surface-500 dark:text-surface-400 whitespace-nowrap overflow-hidden text-ellipsis">{{ 'upload.titulo' | translate }}</span>
            <span class="font-extrabold text-xl text-gray-900 whitespace-nowrap overflow-hidden text-ellipsis">130ms</span>
          </div>
        </div>
      </p-card>
      <p-card class="flex-shrink-0 w-56 h-40 rounded-2xl shadow-md" styleClass="border border-surface">
        <div class="flex items-center gap-4 h-full px-4">
          <span class="w-12 h-12 flex justify-center items-center">
            <i class="pi pi-briefcase" style="color: #10b981; font-size: 1rem;"></i>
          </span>
          <div class="flex flex-col justify-center h-full">
            <span class="font-extrabold text-base text-surface-500 dark:text-surface-400 whitespace-nowrap overflow-hidden text-ellipsis">{{ 'upload.ctps' | translate }}</span>
            <span class="font-extrabold text-xl text-gray-900 whitespace-nowrap overflow-hidden text-ellipsis">125ms</span>
          </div>
        </div>
      </p-card>
      <p-card class="flex-shrink-0 w-56 h-40 rounded-2xl shadow-md" styleClass="border border-surface">
        <div class="flex items-center gap-4 h-full px-4">
          <span class="w-12 h-12 flex justify-center items-center">
            <i class="pi pi-home" style="color: #f43f5e; font-size: 1rem;"></i>
          </span>
          <div class="flex flex-col justify-center h-full">
            <span class="font-extrabold text-base text-surface-500 dark:text-surface-400 whitespace-nowrap overflow-hidden text-ellipsis">{{ 'upload.comprovante' | translate }}</span>
            <span class="font-extrabold text-xl text-gray-900 whitespace-nowrap overflow-hidden text-ellipsis">115ms</span>
          </div>
        </div>
      </p-card>
    </div>
  </p-card>

  <br>
  <!-- Acurácia por Documento -->
  <p-card>
    <ng-template pTemplate="header">
      <div class="pt-3 pb-2 px-4">
        <span class="text-lg font-semibold">{{ 'observability.accuracyTitle' | translate }}</span>
      </div>
    </ng-template>

    <div class="flex flex-wrap gap-6 justify-center py-4">
      <p-card class="flex-shrink-0 w-56 h-40 rounded-2xl shadow-md" styleClass="border border-surface">
        <div class="flex items-center gap-4 h-full px-4">
          <span class="w-12 h-12 flex justify-center items-center">
            <i class="pi pi-id-card" style="color: #6366f1; font-size: 1rem;"></i>
          </span>
          <div class="flex flex-col justify-center h-full">
            <span class="font-extrabold text-base text-surface-500 dark:text-surface-400 whitespace-nowrap overflow-hidden text-ellipsis">{{ 'upload.rg' | translate }}</span>
            <span class="font-extrabold text-xl text-gray-900 whitespace-nowrap overflow-hidden text-ellipsis">98%</span>
          </div>
        </div>
      </p-card>
      <p-card class="flex-shrink-0 w-56 h-40 rounded-2xl shadow-md" styleClass="border border-surface">
        <div class="flex items-center gap-4 h-full px-4">
          <span class="w-12 h-12 flex justify-center items-center">
            <i class="pi pi-id-card" style="color: #22d3ee; font-size: 1rem;"></i>
          </span>
          <div class="flex flex-col justify-center h-full">
            <span class="font-extrabold text-base text-surface-500 dark:text-surface-400 whitespace-nowrap overflow-hidden text-ellipsis">{{ 'upload.cpf' | translate }}</span>
            <span class="font-extrabold text-xl text-gray-900 whitespace-nowrap overflow-hidden text-ellipsis">97%</span>
          </div>
        </div>
      </p-card>
      <p-card class="flex-shrink-0 w-56 h-40 rounded-2xl shadow-md" styleClass="border border-surface">
        <div class="flex items-center gap-4 h-full px-4">
          <span class="w-12 h-12 flex justify-center items-center">
            <i class="pi pi-id-card" style="color: #f59e42; font-size: 1rem;"></i>
          </span>
          <div class="flex flex-col justify-center h-full">
            <span class="font-extrabold text-base text-surface-500 dark:text-surface-400 whitespace-nowrap overflow-hidden text-ellipsis">{{ 'upload.titulo' | translate }}</span>
            <span class="font-extrabold text-xl text-gray-900 whitespace-nowrap overflow-hidden text-ellipsis">95%</span>
          </div>
        </div>
      </p-card>
      <p-card class="flex-shrink-0 w-56 h-40 rounded-2xl shadow-md" styleClass="border border-surface">
        <div class="flex items-center gap-4 h-full px-4">
          <span class="w-12 h-12 flex justify-center items-center">
            <i class="pi pi-briefcase" style="color: #10b981; font-size: 1rem;"></i>
          </span>
          <div class="flex flex-col justify-center h-full">
            <span class="font-extrabold text-base text-surface-500 dark:text-surface-400 whitespace-nowrap overflow-hidden text-ellipsis">{{ 'upload.ctps' | translate }}</span>
            <span class="font-extrabold text-xl text-gray-900 whitespace-nowrap overflow-hidden text-ellipsis">96%</span>
          </div>
        </div>
      </p-card>
      <p-card class="flex-shrink-0 w-56 h-40 rounded-2xl shadow-md" styleClass="border border-surface">
        <div class="flex items-center gap-4 h-full px-4">
          <span class="w-12 h-12 flex justify-center items-center">
            <i class="pi pi-home" style="color: #f43f5e; font-size: 1rem;"></i>
          </span>
          <div class="flex flex-col justify-center h-full">
            <span class="font-extrabold text-base text-surface-500 dark:text-surface-400 whitespace-nowrap overflow-hidden text-ellipsis">{{ 'upload.comprovante' | translate }}</span>
            <span class="font-extrabold text-xl text-gray-900 whitespace-nowrap overflow-hidden text-ellipsis">94%</span>
          </div>
        </div>
      </p-card>
    </div>
  </p-card>

  <br>
  <!-- Gráfico -->
  <p-card>
    <ng-template pTemplate="header">
      <div class="pt-3 pb-2 px-4">
        <span class="text-lg font-semibold">{{ 'observability.docsPerDay' | translate }}</span>
      </div>
    </ng-template>


    <div class="card">
      <p-chart type="bar" [data]="data" [options]="options" class="h-[30rem]" />
    </div>
  </p-card>

  <!-- Dialogs e Toasts -->
  <p-dialog [header]="('usuario.info' | translate)" [(visible)]="displayDialogInfo" [modal]="true"
    [style]="{width: '450px'}" [draggable]="false" [resizable]="false">
    <div class="dialog-content">
      <div class="field">
        <p-tag severity="secondary"
          [value]="'observability.infoDialog' | translate">
        </p-tag>
      </div>
    </div>
  </p-dialog>

  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
</div>