<p-toast></p-toast>
<p-dialog header="Acesso" [(visible)]="acessoDialog" [modal]="true" [style]="{width: '90vw', maxWidth: '350px'}">
  <div class="p-text-center">
    <i class="pi pi-info-circle" style="font-size:2rem;color:#1976d2;"></i>
    <p class="p-mt-3">Acesso selecionado: <b>{{acessoSelecionado?.nome}}</b></p>
    <button pButton type="button" label="Fechar" (click)="acessoDialog=false" class="p-button-primary p-mt-2" style="width:100%"></button>
  </div>
</p-dialog>
<div class="p-card p-mx-auto p-mt-5 p-p-0" style="max-width: 98vw; width: 100%;">
  <div class="p-card-header p-p-3" style="background: #1976d2; color: #fff; font-size: 1.2rem;">Lista de Novos Contratados</div>
  <div class="p-card-body p-p-4">
    <p-table [value]="acessos" styleClass="p-datatable-striped" [style]="{'border-color':'#1976d2'}">
      <ng-template pTemplate="header">
        <tr>
          <th style="color:#1976d2"><i class="pi pi-user"></i> Nome</th>
          <th style="color:#1976d2"><i class="pi pi-envelope"></i> E-mail</th>
          <th style="color:#1976d2"><i class="pi pi-cog"></i> Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-acesso>
        <tr>
          <td>{{acesso.nome}}</td>
          <td>{{acesso.email}}</td>
          <td>
            <button pButton type="button" icon="pi pi-eye" label="Documentos" class="p-button-primary p-mr-2" (click)="verDocumentos(acesso)"></button>
            <button pButton type="button" icon="pi pi-info-circle" class="p-button-outlined p-button-primary" (click)="abrirDialog(acesso)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
